.btn-warning {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

li {
    list-style: none;
}

.btnLogin {
    margin-right: 15px;
}

mat-card {
    background: lightblue;
    width: 250px;
}

.detailFilm {
    display: flex;
    flex-wrap: wrap;
}

section {
    float: left;
    width: 30%;
    margin: auto;

}

aside {
    float: right;
    width: 63%;
    margin: auto;
}