<div class="container" style="margin-bottom: 20px;">

    <div class="example-button-row" style="margin-top: 10px; margin-left: 10px;">
        <button class="btnBack" mat-raised-button [routerLink]="['']">
            <mat-icon class="arrowBack">arrow_back</mat-icon>
        </button>

        <mat-icon></mat-icon>
    </div>

    <div *ngIf="film">
        <h1>{{ film.titre }}</h1>
        <div class="film-infos">
            <div class="afficheFilm">

                <img style="width: 300px" mat-card-image src="{{ film.urlImg }}" alt="image film">

            </div>

            <div class="list">
                <mat-list>

                    <mat-list-item>
                        <p>Catégorie: {{ film.categorie }}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p>Durée: {{ film.duree }} min</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p>{{ film.resume }}</p>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div>
            <h1>Liste des séances</h1>

            <app-seance-list></app-seance-list>
        </div>

    </div>

</div>