.afficheFilm {
    margin-left: 60px;
}



.list {
    margin-top: 50px;
    margin-left: 20px;
}


.film-infos {
    display: flex;
    justify-content: space-between;

}

@media (max-width: 800px) {
    .film-infos {
        display: flex;
        flex-wrap: wrap;

    }
}

.btnBack {
    width: 120px;
    height: 50px;
    font-size: large;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btnBack:hover {
    background-color: #FED740;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}