.snack-card {
    max-width: 300px;
    margin: 15px;
}

.snack-image {
    background-size: cover;
}

<<<<<<< HEAD
.button-row button {
  margin: 10px;
 
}
=======

>>>>>>> b92c57c5db9030cd2f83046317d090f0ad0b3308
