.snack-card {
    max-width: 300px;
    margin: 15px;
    background-color: black;
    border-color: rgb(206, 153, 8);
    border-style: dotted;
}

.snack-image {
    background-size: cover;
}

.button-row button {
  margin: 10px;
  color:black;
}

span {
  color: white;
}





