<h2>Commande Summary</h2>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    Film
    </mat-expansion-panel-header>
    <app-film-summary [id]="1"></app-film-summary>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    Reservation
    </mat-expansion-panel-header>
    <app-tarif-list></app-tarif-list>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    Snack
    </mat-expansion-panel-header>
    <app-panier></app-panier>
</mat-expansion-panel>
