<h2>Récapitulatif de la commande</h2>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Votre commande s'élève à </span>
        <span class="example-spacer"></span>
        <span>{{totalCommande | currency}}</span>
        <button mat-raised-button color="accent" *ngIf="!btnDisable" (click)="payer()">Payer</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    Film
    </mat-expansion-panel-header>
    <app-film-summary [film]="film"></app-film-summary>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    Places
    </mat-expansion-panel-header>
    <app-tarif-list></app-tarif-list>
</mat-expansion-panel>

<mat-expansion-panel>
    <mat-expansion-panel-header>
    Snacks
    </mat-expansion-panel-header>
    <app-panier></app-panier>
</mat-expansion-panel>
