/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

.button-row button {
    margin: 10px;

}


.footer {
    width: 100%;
}

.sticky {

    position: sticky;
    z-index: 1;
    top: 0;
}