/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* * { margin:0px; padding:0px; } */

* { 
    margin:0; padding:0;
    }
    html, body { 
    margin:0; padding:0; width:100%; height:100%; 
    position: relative;
    /*background-color: black;*/
    }

body {
    color: black;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* main {
    width:100%;
    position:relative;
	min-height:79%;
  }   */

table {
    width: 100%;
}

.button-row button {
    margin: 10px;
   
}

/* .footer {
    position:fixed;
} */


    /* global { 
    margin:0; padding:0; width:100%; height:100%;
    position: relative;
    } */
    .header {
    width : 100%;
    position:absolute;
    top:0; left:0; 
    }

    main {
        width: 100%;
        top:145px; left:0;
        /*bottom:115px;*/
        position: absolute;
        overflow:auto;
        }

    .footer {
    width: 100%;
    /* height: 150px; */
    position: absolute;
    bottom:0; left:0;
    }
    

